# Idea
.idea

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### Gradle template
.gradle
build
out
classes/*
target/*

# Local config
application-local.yml
application-default.yml
logback-local.xml

.DS_Store
*.iml
*.ipr
*.iws